<ion-tabs> 
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="movies">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="favourites">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watchlist">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
