<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          Favourites
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-grid>  
      <ion-row>
          <ion-col>
              <ion-card button="true"  >
                  <ion-img src="./Pictures/naruto-placeholder.jpg"></ion-img> 
                  <ion-card-content>
                          <ion-label>Placeholder</ion-label>
                  </ion-card-content>
              </ion-card>
          </ion-col> 
          <ion-col>
              <ion-card button="true" >
                  <ion-img src="./Pictures/naruto-placeholder.jpg"></ion-img> 
                  <ion-card-content>
                          <ion-label>Placeholder</ion-label>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-card button="true" >
                  <ion-img src="./Pictures/naruto-placeholder.jpg"></ion-img> 
                  <ion-card-content>
                          <ion-label>Placeholder</ion-label>
                  </ion-card-content>
              </ion-card>
          </ion-col> 
          <ion-col>
              <ion-card button="true" >
                  <ion-img src="./Pictures/naruto-placeholder.jpg"></ion-img> 
                  <ion-card-content>
                          <ion-label>Placeholder</ion-label>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-card button="true" >
                  <ion-img src="./Pictures/naruto-placeholder.jpg"></ion-img> 
                  <ion-card-content>
                          <ion-label>Placeholder</ion-label>
                  </ion-card-content>
              </ion-card>
          </ion-col> 
          <ion-col>
              <ion-card button="true" >
                  <ion-img src="./Pictures/naruto-placeholder.jpg"></ion-img> 
                  <ion-card-content>
                          <ion-label>Placeholder</ion-label>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content> 
